/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#title{
	-fx-font: "Verdana";
	-fx-font-size: 16;
} 

Button{
	-fx-cursor: hand ;
}
#menubar{
	-fx-background-color:linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179,204,255) 0.0, rgb(102,128,230) 100.0)
}
#statusbar{
	-fx-background-color:linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179,204,255) 0.0, rgb(102,128,230) 100.0)
}
#lblhelp{
	-fx-text-alignment: justify ;
	-fx-text-overrun: word-ellipsis    ;
}

Separator{
	-fx-background-color:linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(179,204,255) 0.0, rgb(102,128,230) 100.0)
}
#mainPane{
	-fx-fill-width: true;
}
HBox{
	-fx-padding: 10,10,10,10;
}
VBox{
	-fx-padding: 10,10,10,10;
}