/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#title{
	-fx-font: "Verdana";
	-fx-font-size: 16;
} 

Button{
	-fx-cursor: hand ;
}

#statusbar{
}
#lblhelp{
	-fx-text-alignment: justify ;
	-fx-text-overrun: word-ellipsis    ;
}